{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": true
      }
    ],
    "react",
    "stage-3"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-regenerator",
    "syntax-dynamic-import",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "plugins": [
        [
          "transform-runtime",
          {
            "helpers": true,
            "polyfill": true,
            "regenerator": true
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
