.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.box {
  width: 80%;
  max-width: 1024px;
  max-height: 680px;
  margin-top: -20px;
  margin-left: -48px;
}

.img {
  border-radius: 4px;
}
