/* 样式覆盖 */
:global(.main) {
  height: 100%;
}

/* 常规布局 */
.package {
  min-height: 100%;
}

.sider {
  position: fixed;
  min-height: 100%;
  overflow: auto;
}

.content {
  margin-left: 200px;
}

.link {
  display: inline-block !important;
}

.menu-item {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
